# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
functions/lib/*

# System files
.DS_Store
Thumbs.db

# Firebase
.firebase
*-debug.log
.runtimeconfig.json
.idx/integrations.json
functions/.env.alpha-vantage-proxy-api
.env.*
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
pubsub-debug.log
ui-debug.log
firebase-export-*/
firebase-export-*

# Compiled JavaScript files
*.js
*.js.map
!**/dist/**/*.js
!**/dist/**/*.js.map
!test-alpha.js

# TypeScript compiled output
**/*.d.ts
**/*.js
**/*.js.map
!**/node_modules/**/*.js
!**/node_modules/**/*.js.map
!**/dist/**/*.js
!**/dist/**/*.js.map

# Ignore compiled files in src/app/common
src/app/common/*.js
src/app/common/*.js.map
desktop.ini
functions/emulator-export/**/*
functions/scripts/script-env-vars.txt
functions/src/v2/benzinga/data-refresher/bz-news-refresh-manager.copy_0723-1624.ts
src/assets/misc/prompts.txt
functions/assets/data/AV_HIST_OPTIONS_RESP_NVDA_280813.ts
shared/node_modules
functions/local-dev.env.alpha-vantage-proxy-api
src/assets/misc/prompts2.txt
