<h2 mat-dialog-title>Symbol/Keyword Search</h2>

<mat-dialog-content>
  <div class="symbols-dialog">
    <app-symbol-input-form
      (symbolSelected)="onSymbolSelected($event)"
      (isTracked)="onIsTracked($event)">
    </app-symbol-input-form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">
    <mat-icon>close</mat-icon>
    Cancel
  </button>
  <button 
    mat-raised-button 
    color="primary" 
    (click)="onAddSymbol()"
    [disabled]="!selectedSymbol() || symbolAlreadyTracked()">
    <mat-icon>add</mat-icon>
    {{ symbolAlreadyTracked() ? 'Already Tracked' : 'Add Symbol' }}
  </button>
</mat-dialog-actions>
