<div class="calendar-header-row">
  <h1 class="calendar-title calendar-title-margin">{{ bzCalendarStore.selectedEndpointMeta()?.title }}</h1>
</div>

@if (!bzCalendarStore.pagedResults().length) {
  <bz-no-results [message]="'No results found.'" />
}

@if (bzCalendarStore.pagedResults().length > 0) {
  <div class="table-container" style="overflow-x: auto;">
    <div class="company-header">
      <h2 class="company-title-inline">
        {{ bzCalendarStore.pagedResults()[0]?.name }} ({{ bzCalendarStore.pagedResults()[0]?.ticker }})
      </h2>
      <span class="results-count">{{ bzCalendarStore.pagedResults().length }} results found ({{ bzCalendarStore.totalItems() || bzCalendarStore.pagedResults().length }} total)</span>
    </div>
    <table mat-table [dataSource]="bzCalendarStore.pagedResults()" class="mat-elevation-z1" style="width: 100%;">
      @for (col of (bzCalendarStore.selectedEndpointMeta()?.columns ?? []); track col.key) {
        <ng-container [matColumnDef]="col.key">
          <th mat-header-cell *matHeaderCellDef>{{ col.displayName }}</th>
          <td mat-cell *matCellDef="let element">
            @switch (col.format) {
              @case ('currency') { {{ element[col.key] | currency:col.currencySymbol:'symbol':col.digitsInfo }} }
              @case ('percent')  { {{ (element[col.key] ? +element[col.key] / 100 : undefined) | percent:col.digitsInfo }} }
              @case ('abbreviateCurrency') { {{ (element[col.key] ? +element[col.key] : '') | abbreviateCurrency:col.digitsInfo }} }
              @case ('number')   { {{ element[col.key] | number:col.digitsInfo }} }
              @case ('date')     { {{ element[col.key] | date }} }
              @default           { {{ element[col.key] }} }
            }
          </td>
        </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="columnKeys()"></tr>
      <tr mat-row *matRowDef="let row; columns: columnKeys()"></tr>
    </table>
  </div>
}
