<div class="bz-calendar-view-container">
    <mat-card class="search-card">
        <mat-card-header>
            <mat-card-title>Calendar</mat-card-title>
            <mat-card-subtitle>Click the button to select a calendar</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="search-container">
                <!-- Endpoint selector and dynamic form -->
                <bz-endpoint-selector />
                <bz-calendar-form />
            </div>

            @if (bzCalendarStore.loading()) {
            <div class="loading-shade">
                <mat-spinner diameter="50"></mat-spinner>
            </div>
            }

            @if (bzCalendarStore.error()) {
            <div class="error-message">
                <mat-icon color="warn">error_outline</mat-icon>
                {{ bzCalendarStore.error() }}
            </div>
            }
        </mat-card-content>
    </mat-card>

    <!-- Endpoint-specific results table -->
    @if (bzCalendarStore.pagedResults().length > 0) {
        <div class="results-container standalone-table-container">

            <bz-dynamic-calendar-table />

        </div>
    }

    @if (bzCalendarStore.totalItems() > bzCalendarStore.minPageSize()) {
        <mat-paginator
            [length]="bzCalendarStore.totalItems()"
            [pageSize]="bzCalendarStore.currentPagination().pageSize"
            [pageIndex]="bzCalendarStore.currentPagination().pageIndex"
            [pageSizeOptions]="bzCalendarStore.pageSizeOptions()"
            (page)="bzCalendarStore.setPage($event.pageIndex, $event.pageSize)"
            showFirstLastButtons
            aria-label="Select page of results">
        </mat-paginator>
    }

    @if (bzCalendarStore.noResultsCondition()) {
        <bz-no-results [message]="bzCalendarStore.noResultsMessage()" />
    }

</div>