<div class="collection-list">
  <mat-nav-list>
    @for (collection of store.collections(); track collection.id) {
      <a mat-list-item 
         [class.active]="store.currentCollectionPath() === collection.id"
         (click)="navigateToCollection(collection.id)">
        <span class="collection-name">{{ collection.name }}</span>
      </a>
      
      @if (store.currentCollectionPath() === collection.id && store.subcollections().length > 0) {
        <mat-nav-list class="sublist">
          @for (subcollection of store.subcollections(); track subcollection) {
            <a mat-list-item 
               class="subcollection-item"
               (click)="navigateToSubcollection(subcollection)">
              <span class="subcollection-name">{{ subcollection }}</span>
            </a>
          }
        </mat-nav-list>
      }
    }
  </mat-nav-list>
</div>
