<form class="calendar-form flex-col" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="form-fields-row flex-row flex-nowrap align-center">
    <div class="form-fields flex-row flex-wrap grow">
      <mat-form-field appearance="outline" class="ticker-field">
        <mat-label>Ticker Symbol</mat-label>
        <input matInput formControlName="ticker" placeholder="e.g. NVDA">
      </mat-form-field>
      <mat-form-field appearance="outline" class="date-field">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="date-field">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate" [min]="searchForm.get('startDate')?.value">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="search-btn">
        <mat-icon>search</mat-icon>
        Search
      </button>
    </div>
  </div>
  <div class="dynamic-fields flex-row flex-wrap">
    @switch (bzCalendarStore.selectedEndpoint()) {
      @case (BenzingaEndpoint.DIVIDENDS) {
        <!-- Dividends dynamic fields -->
        <mat-form-field appearance="outline" class="dividend-field">
          <mat-label>Dividend Yield Greater Than</mat-label>
          <input matInput type="number" formControlName="dividendYieldGt" min="0" placeholder="e.g. 2">
        </mat-form-field>
        <mat-form-field appearance="outline" class="dividend-field">
          <mat-label>Date Sort</mat-label>
          <mat-select formControlName="dateSort">
            <mat-option value="desc">Descending</mat-option>
            <mat-option value="asc">Ascending</mat-option>
          </mat-select>
        </mat-form-field>
      }
      @default {
        <!-- No additional fields for this endpoint yet -->
      }
    }
  </div>
  <!-- <div class="form-actions flex-row">
    <button mat-raised-button color="primary" type="submit">
      <mat-icon>search</mat-icon>
      Search
    </button>
  </div> -->
</form>


